@use '../../styles/variables' as *;

.popularProducts {
  &__wrapper {
    margin: 3rem 0;
    position: relative;

    @media (max-width: 768px) {
      margin: 2rem 0;
    }

    svg {
      width: 2rem;
      height: 2rem;
      position: absolute;
      top: 45%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      fill: $black-color;
      cursor: pointer;

      @media (max-width: 768px) {
        top: 46%;
      }

      &:first-of-type {
        left: 2.5rem;
      }

      &:last-of-type {
        right: 2.5rem;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    font-size: $md-size-2;
    margin-bottom: 2rem;
  }
}
