@use '../../styles/variables' as *;

.cart {
  &__header,
  &__freeShipping,
  &__products .product,
  &__subtotal {
    border-bottom: 1px solid $light-grey-color;
  }

  &__header .close,
  &__subtotal,
  &__products .product__info_1,
  &__products .product__info_2 {
    display: flex;
    align-items: center;
  }

  &__header h1,
  &__freeShipping p,
  &__empty,
  &__products .product__info_1 .name,
  &__products .product__info_2 .productQty,
  &__products .product__info_2 .price {
    font-size: $sm-size-2;
  }

  &__header h1,
  &__freeShipping p,
  &__empty,
  &__products .product__info_1 .name,
  &__products .product__info_1 .price,
  &__products .product__info_1 .size,
  &__subtotal p,
  &__checkout button,
  &__checkout a,
  &__clear button {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__freeShipping p,
  &__empty,
  &__subtotal p {
    margin: 1.5rem 0;
  }

  &__subtotal,
  &__checkout button,
  &__checkout a,
  &__clear button {
    font-size: $md-size-4;
  }

  &__checkout,
  &__clear {
    margin: 1.5rem 0;
  }

  &__checkout a,
  &__checkout button,
  &__clear button {
    display: block;
    width: 100%;
  }

  &__header {
    .close {
      justify-content: flex-end;

      svg {
        width: 2rem;
      }
    }

    h1 {
      margin-bottom: 2rem;
    }
  }

  &__products {
    .product {
      display: grid;
      grid-template-columns: 20% 75.5%;
      gap: 2rem;
      padding: 1.5rem 0;

      img {
        width: 100%;
        height: 100%;
      }

      &__info {
        width: 100%;

        &_1,
        &_2 {
          justify-content: space-between;
        }

        &_1 {
          svg {
            width: 1.5rem;
            height: 1.5rem;
          }

          .name {
            margin-bottom: 0.5rem;
            transition: color 0.2s ease-in;

            &:hover {
              color: $venice-blue-color;
            }
          }

          .color,
          .size {
            color: $grey-color;
            font-size: $sm-size-4;
          }
        }

        &_2 {
          margin-top: 2rem;

          .productQty,
          .price {
            text-transform: capitalize;
          }
        }
      }
    }
  }

  &__subtotal {
    justify-content: space-between;
  }
}
