@use '../../styles/variables' as *;

.account {
  &__container {
    margin-top: 5.9rem;
    padding: 6rem 0;

    @media (max-width: 425px) {
      padding: 3rem 0;
    }
  }

  &__grid {
    padding: 0 6rem;

    @media (max-width: 768px) {
      padding: 0;
    }

    h2 {
      text-transform: uppercase;
      font-size: $sm-size-2;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    p {
      font-size: $sm-size-3;

      span {
        font-weight: bold;
        text-transform: uppercase;
      }

      &:not(:last-of-type) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__user {
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid $light-grey-color;
    .userInfo {
      margin-bottom: 2rem;
    }
  }
}
