.products {
  &__category {
    &_1,
    &_2 {
      display: grid;
      gap: 2rem;
      margin: 2rem 0;
    }

    &_1 {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 25rem;
      margin: 2rem 0;

      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 25rem);
      }

      @media (max-width: 600px) {
        gap: 1.5rem;
      }

      @media (max-width: 500px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 25rem);
      }
    }

    &_2 {
      padding: 2rem 0;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 26.6rem;
    }
  }
}
