@use '../../styles/variables' as *;
@use '../../styles/mixin' as *;

.loader {
  @include flex-ali-jus($direction: column);
  padding: 4rem 0;

  @media (max-width: 425px) {
    padding: 2rem 0;
    text-align: center;
  }

  p {
    margin-top: 2rem;
    text-transform: capitalize;
    font-size: $sm-size-2;
  }
}
