@use '../../styles/variables' as *;

.login {
  .resetText {
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    font-size: $sm-size-3;
    font-weight: 400;
  }

  &__create a,
  .btn {
    font-size: $sm-size-2;
    text-transform: uppercase;
  }

  .btn {
    color: $grey-color;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    width: max-content;
    transition: all 0.2s ease-in;

    &:hover {
      color: $venice-blue-color;
      border-bottom: 2px solid $venice-blue-color;
    }
  }

  &__form {
    margin-bottom: 1.5rem;
    div {
      margin-bottom: 1.3rem;
    }
  }

  &__create {
    display: grid;
    grid-template-columns: auto 1fr;

    @media (max-width: 425px) {
      grid-template-columns: 1fr;
      gap: 1rem;
      justify-content: flex-start;
    }

    a {
      color: $venice-blue-color;
    }

    .btn {
      justify-self: end;

      @media (max-width: 425px) {
        justify-self: flex-start;
      }
    }
  }
}
