@use '../../styles/variables' as *;

.btn {
  &__white,
  &__black {
    padding: 1.3rem 2.6rem;
    width: 20rem;
    font-size: $sm-size-3;
    font-weight: $semi-bold;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    border: 3px solid transparent;
    transition: all 0.2s ease-in;
  }
  &__white {
    color: $black-color;
    background-color: $white-color;
    border-color: $white-color;

    &:hover {
      background-color: transparent;
      color: $white-color;
    }
  }

  &__black {
    color: $white-color;
    background-color: $valhalla-color;
    border-color: $valhalla-color;

    &:hover {
      background-color: transparent;
      color: $valhalla-color;
    }
  }
}
