@use '../../styles/variables' as *;
@use '../../styles/mixin' as *;

.cart {
  &__products {
    .product {
      @include grid-columns($columns: 20% 75.5%, $gap: 2rem);
      padding: 1.5rem 0;
      border-bottom: 1px solid $light-grey-color;

      img {
        @include wh-hei();
      }

      &__info {
        width: 100%;

        &_1,
        &_2 {
          @include flex-ali-jus($justify: space-between);
        }

        &_1 .name,
        &_2 .productQty,
        &_2 .price {
          font-size: $sm-size-2;
        }

        &_1 {
          svg {
            @include wh-hei($wh: 1.5rem, $hei: 1.5rem);
          }

          .name,
          .price,
          .size {
            @include text-transform();
          }

          .color,
          .size {
            color: $grey-color;
            font-size: $sm-size-4;
          }

          .name {
            margin-bottom: 0.5rem;
            @include transition();

            &:hover {
              color: $venice-blue-color;
            }
          }
        }

        &_2 {
          margin-top: 2rem;

          .productQty,
          .price {
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
