@use "../../styles/mixin" as *;

.singleProductImages {
  &_desktop,
  &_mobile {
    img {
      @include wh-hei();
    }
  }

  &_desktop {
    @include grid-columns($columns: repeat(2, 1fr), $rows: 47.2rem, $gap: 1rem);
  }

  &_mobile {
    .small_images {
      @include flex-align();
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 1rem;
      cursor: pointer;

      div {
        @media (max-width: 425px) {
          width: 7rem !important;
        }

        img {
          border-radius: 5px;
        }
      }
    }
  }
}
