@use '../../styles/variables' as *;
@use '../../styles/mixin' as *;

.backgroundImage {
  @include grid-center();
  @include bg-image-setup();

  width: 100%;
  margin-top: 5.9rem;
  color: $white-color;

  &__title {
    @include text-transform();
  }
}
