@use '../../styles/variables' as *;

.backgroundImage {
  width: 100%;
  margin-top: 5.9rem;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-content: center;
  color: $white-color;

  &__title {
    font-weight: bold;
    text-transform: uppercase;
  }
}
