@use '../../styles/variables' as *;

.split {
  &__content {
    &_text {
      background-color: $valhalla-color;
      padding: 4rem;
      color: $white-color;

      @media (max-width: 1024px) {
        display: grid;
        place-content: center;
      }

      @media (max-width: 425px) {
        padding: 3rem;
      }

      a {
        text-transform: uppercase;
        font-size: $sm-size-2;
        color: $light-grey-color;
        padding-bottom: 0.5rem;
        width: fit-content;
        border-bottom: 2px solid transparent;
        transition: all 0.2s ease-in;

        &:hover {
          color: $white-color;
          border-bottom: 2px solid $light-grey-color;
        }
      }
    }
  }
}
