@use '../../styles/variables' as *;

.split__content_title {
  text-transform: uppercase;
  font-size: $lg-size;
  font-weight: $semi-bold;

  &::after {
    content: '';
    width: 30%;
    height: 3rem;
    background-color: $venice-blue-color;
  }
}
