@use '../../styles/variables' as *;
@use '../../styles/mixin' as *;

.card {
  &__img {
    width: 100%;
  }

  &__title {
    text-align: center;
    text-transform: capitalize;
    font-size: $sm-size-3;
    color: $black-color;
    padding: 1.5rem 0;
    @include transition();

    &:hover {
      color: $venice-blue-color;
    }
  }
}
