@use '../../styles/variables' as *;

.login {
  &__container {
    margin: 5.9rem 0;
  }

  &__grid {
    max-width: 60%;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 2rem;

    @media (max-width: 500px) {
      padding-top: 3rem;
      padding-bottom: 0;
    }

    h1 {
      font-size: $sm-size-1;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 2.28;
      padding-bottom: 1.5rem;
      margin-bottom: 3rem;
      border-bottom: 2px solid rgba($grey-color, 0.3);

      @media (max-width: 500px) {
        margin-bottom: 1.5rem;
      }
    }

    button,
    a {
      display: block;
      width: 100%;
    }
  }
}
