@use '../../styles/variables' as *;

.login {
  &__container {
    margin: 5.9rem 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding-top: 5rem;
    padding-bottom: 2rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    @media (max-width: 500px) {
      gap: 2rem;
      padding-top: 3rem;
      padding-bottom: 0;
    }

    button,
    a {
      display: block;
      width: 100%;
    }
  }

  &__title,
  &__text {
    margin-bottom: 3rem;

    @media (max-width: 500px) {
      margin-bottom: 1.5rem;
    }
  }

  &__title {
    font-size: $sm-size-1;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.28;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid rgba($grey-color, 0.3);
  }

  &__text {
    font-size: $sm-size-3;
    line-height: 2.14em;
  }

  &__form {
    input {
      margin-bottom: 2rem;
    }
  }
}
