@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.backgroundImage {
  position: relative;
  height: 50rem;
  margin-top: 5.9rem;
  div {
    @media (max-width: 600px) {
      color: $valhalla-color;
    }
  }

  &__title {
    font-size: $xl-size-4;
    color: $white-color;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include text-transform();
  }
}

.aboutUs {
  margin: 7rem 0;
  @include grid-columns($rows: 42rem 60.7rem, $gap: 7rem);

  @media (max-width: 768px) {
    grid-template-rows: auto;
  }

  @media (max-width: 500px) {
    margin: 5rem 0;
    row-gap: 5rem;
  }

  @media (max-width: 375px) {
    margin: 3rem 0;
    row-gap: 3rem;
  }

  .splitContent {
    @include grid-columns($columns: repeat(2, 1fr), $gap: 8rem);
    align-items: center;

    @media (max-width: 980px) {
      gap: 5rem;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    @media (max-width: 375px) {
      gap: 3rem;
    }

    &__image_1,
    &__image_2,
    &__image_1 img,
    &__image_2 img,
    .text .img img {
      @include wh-hei();
    }

    &__image_2 {
      @media (max-width: 768px) {
        order: 2;
      }
    }

    .text {
      padding-left: 5rem;

      @media (max-width: 980px) {
        padding-left: 3rem;
      }

      @media (max-width: 375px) {
        padding-left: 1.5rem;
      }

      .title,
      .img {
        margin-bottom: 1.5rem;
      }

      p:not(:last-of-type),
      .content:not(:last-of-type) {
        margin-bottom: 3rem;

        @media (max-width: 500px) {
          margin-bottom: 2rem;
        }
      }

      .title {
        @include text-transform();
        font-size: $md-size-2;
      }

      p {
        font-size: $sm-size-3;
        line-height: 2.2rem;
        font-weight: 400;
        width: 90%;
      }

      .img {
        width: 3.65rem;
      }
    }
  }
}
