@use '../../styles/mixin' as *;

.products {
  &__category {
    &_2 {
      @include grid-columns($columns: repeat(4, 1fr), $gap: 2rem);
      margin: 3rem 0;
      padding-top: 2rem;

      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
      }

      @media (max-width: 700px) {
        gap: 1.5rem;
      }

      @media (max-width: 375px) {
        grid-template-columns: 1fr;
        padding: 0;
      }
    }
  }
}
