@use '../../styles/variables' as *;
@use '../../styles/mixin' as *;

.footer {
  &__form {
    @include grid-columns($columns: repeat(2, 1fr));
    @include bg-txt-br-color($bg-color: $valhalla-color, $color: $white-color);
    @include mr-pd($mr: 3rem 0, $pd: 6rem 0);

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      place-items: center;
      row-gap: 3rem;
    }

    @media (max-width: 600px) {
      padding: 5rem 0;
    }

    @media (max-width: 500px) {
      padding: 4rem 2rem;
    }
  }
}
