@use '../../styles/variables' as *;

.footer {
  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 3rem 0;
    background-color: $valhalla-color;
    color: $white-color;
    padding: 6rem 0;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      place-items: center;
      row-gap: 3rem;
    }

    @media (max-width: 600px) {
      padding: 5rem 0;
    }

    @media (max-width: 500px) {
      padding: 4rem 2rem;
    }
  }
}
