@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.footer {
  &__form {
    &_input {
      .text {
        font-size: $sm-size-3;
        margin-bottom: 1.5rem;

        @media (max-width: 768px) {
          margin-bottom: 2.5rem;
        }
      }

      .form {
        @include flex-align();

        @media (max-width: 425px) {
          flex-direction: column;
        }

        &__ipt {
          padding: 1rem 2rem;
          width: 60%;

          @media (max-width: 768px) {
            width: 80%;
          }

          @media (max-width: 425px) {
            width: 100%;
            margin-bottom: 1rem;
          }
        }

        &__btn {
          display: inline-block;
          font-size: $sm-size-3;
          padding: 1rem 2rem;
          cursor: pointer;
          text-transform: uppercase;
          height: 3.9rem;
          @include bg-txt-br-color($bg-color: $venice-blue-color, $color: $white-color);
          @include transition();

          &:hover {
            @include bg-txt-br-color($color: $venice-blue-color, $bg-color: $white-color);
          }

          @media (max-width: 425px) {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}
