@use '../../styles/mixin' as *;

.singleProductImages {
  &_desktop,
  &_mobile {
    img {
      @include wh-hei();
    }
  }

  &_desktop {
    @include grid-columns($columns: repeat(2, 1fr), $rows: 47.2rem, $gap: 1rem);

    .imgContainer {
      div,
      div img {
        position: initial !important;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }

  &_mobile {
    .small_images {
      @include flex-align();
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 1rem;
      cursor: pointer;

      div {
        width: 10rem;

        @media (max-width: 425px) {
          width: 7rem;
        }

        img {
          border-radius: 5px;
        }
      }
    }
  }
}
