@use '../../styles/variables' as *;

.card {
  &__image {
    background-color: $light-grey-color;
    height: 37.5rem;
    width: 100%;
    position: relative;

    &:hover {
      button {
        display: block;
      }
    }

    a {
      cursor: pointer;
    }

    img {
      height: 100%;
      width: 100%;
      mix-blend-mode: multiply;
    }

    button {
      display: none;
      position: absolute;
      bottom: 3rem;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
      text-transform: uppercase;
      font-size: $sm-size-3;
      font-weight: bold;
      padding: 1.3rem 2.6rem;
      width: 65%;
      background-color: $valhalla-color;
      color: $white-color;
      border: 3px solid $valhalla-color;
      border-radius: 4px;
      transition: all 0.2s ease-in;

      &:hover {
        color: $valhalla-color;
        background-color: $white-color;
      }
    }

    .sale_badge {
      width: 4.2rem;
      height: 2rem;
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }

  &__info {
    margin-top: 1rem;

    &_sale,
    &_name {
      text-transform: uppercase;
      font-size: $sm-size-3;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    &_sale {
      color: $valencia-color;
    }

    &_name {
      transition: color 0.2s ease-in;

      &:hover {
        color: $venice-blue-color;
      }
    }

    &_price {
      font-size: $sm-size-4;

      .old {
        text-decoration: line-through;
        color: $grey-color;
        margin-left: 5px;
      }
    }

    &_colors {
      margin-top: 0.5rem;

      p {
        text-transform: capitalize;
        color: $grey-color;
        font-size: $sm-size-4;
        font-weight: bold;
        font-style: italic;
      }

      .colors {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 1rem;

        div {
          cursor: pointer;
          margin-bottom: 3px;
          &:not(:last-of-type) {
            margin-right: 7px;
          }

          img {
            border-radius: 50%;
          }
        }
      }
    }
  }
}
