@use '../../styles/variables' as *;
@use '../../styles/mixin' as *;

.card {
  &__image {
    background-color: $light-grey-color;
    height: 37.5rem;
    width: 100%;
    position: relative;

    &:hover {
      button {
        display: block;
      }
    }

    img {
      @include wh-hei();
      mix-blend-mode: multiply;
    }

    button {
      display: none;
      position: absolute;
      bottom: 3rem;
      left: 50%;
      transform: translateX(-50%);
      width: 65%;
    }

    .sale_badge {
      @include wh-hei($wh: 4.2rem, $hei: 2rem);
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }

  &__info {
    margin-top: 1rem;

    &_sale,
    &_name {
      font-size: $sm-size-3;
      margin-bottom: 0.5rem;
      @include text-transform();
    }

    &_sale {
      color: $valencia-color;
    }

    &_name {
      @include transition();

      &:hover {
        color: $venice-blue-color;
      }
    }

    &_price {
      font-size: $sm-size-4;

      .old {
        text-decoration: line-through;
        color: $grey-color;
        margin-left: 5px;
      }
    }

    &_colors {
      margin-top: 0.5rem;

      p {
        color: $grey-color;
        font-size: $sm-size-4;
        font-style: italic;
        @include text-transform($transform: capitalize);
      }

      .colors {
        @include flex-align();
        flex-wrap: wrap;
        margin-top: 1rem;

        div {
          cursor: pointer;
          margin-bottom: 3px;
          &:not(:last-of-type) {
            margin-right: 7px;
          }

          img {
            border-radius: 50%;
          }
        }
      }
    }
  }
}
