@use '../../../styles/variables' as *;

.navbar {
  &__icons {
    &_1 {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 2.5rem;

      @media (max-width: 980px) {
        display: none;
      }

      button:not(:last-of-type),
      a {
        margin-right: 1.5rem;
      }
    }

    &_2 {
      display: none;
      text-align: end;

      @media (max-width: 980px) {
        display: block;
      }
    }
  }

  &__form {
    input {
      border: 0;
      padding: 1rem 2rem;
      background-color: $light-grey-color;
      color: $black-color;
      margin-right: 1rem;
      border-radius: 4px;
      font-size: $sm-size-2; // 16px
      text-transform: capitalize;
    }
  }
}
