@use '../../../styles/variables' as *;

.navbar {
  &__icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button:not(:last-of-type),
    a {
      margin-right: 1.5rem;
    }

    svg {
      width: 2.5rem;
      height: 2.5rem;
      outline: none;
      cursor: pointer;
    }
  }

  &__form {
    input {
      border: 0;
      padding: 1rem 2rem;
      background-color: $light-grey-color;
      color: $black-color;
      margin-right: 1rem;
      border-radius: 4px;
      font-size: $sm-size-2; // 16px
      text-transform: capitalize;
    }
  }
}
