@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500;600;700;800&display=swap');

// Fonts
$primary-font-family: Karla, Arial, sans-serif;

// Colors
$black-color: #000;
$white-color: #fff;
$grey-color: #9c9c9c;

$valhalla-color: #25293b;
$venice-blue-color: #29527c;
$valencia-color: #d84242;

// Fonts Sizes
$xl-size-1: 7rem;
$xl-size-2: 6.5rem;
$lg-size: 4rem;
$md-size-1: 3.5rem;
$md-size-2: 3.2rem;
$sm-size-1: 1.8rem;
$sm-size-2: 1.6rem;
$sm-size-3: 1.4rem;
$sm-size-4: 1.2rem;

// Fonts Weights
$extra-bold: 800;
$semi-bold: 700;
$bold: 600;
$regular: 500;
$light: 300;
