@use './variables' as *;
@use './mixin' as *;

* {
  box-sizing: border-box;
  @include mr-pd();
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font-family;
  background-color: $white-color;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 1rem;
    background-color: $white-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $venice-blue-color;
  }
}

a,
button,
svg {
  cursor: pointer;
}

input,
textarea,
svg {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

button {
  background: transparent;
  border: 0;
}

svg {
  @include wh-hei($wh: 2.5rem, $hei: 2.5rem);
}

h1 {
  font-weight: $semi-bold;
  line-height: 0.88;
}

.container {
  max-width: 125rem;
  margin: 0 auto;

  @media (max-width: 1024px) {
    max-width: 98rem;
  }

  @media (max-width: 980px) {
    max-width: 92rem;
  }

  @media (max-width: 768px) {
    max-width: 72rem;
  }

  @media (max-width: 700px) {
    max-width: 65rem;
  }

  @media (max-width: 600px) {
    max-width: 54rem;
  }

  @media (max-width: 500px) {
    max-width: 44rem;
  }

  @media (max-width: 425px) {
    max-width: 39rem;
  }

  @media (max-width: 375px) {
    max-width: 33rem;
  }

  @media (max-width: 320px) {
    max-width: 28rem;
  }
}

.mobileMenu,
.filtersModel {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: $white-color;
  padding: 4rem 2rem;
  z-index: -1000;
  opacity: 0;
  @include transition();

  &__show {
    z-index: 1000;
    opacity: 1;
  }
}

// Mobile Menu
.mobileMenu,
.filtersModel {
  left: 0;
  transform: translateX(-100%);

  &__show {
    transform: translate(0);
  }
}

.mobileMenu {
  width: 50%;

  @media (max-width: 425px) {
    width: 100%;
  }

  &__icons {
    @include flex-ali-jus($justify: space-between);
    margin-bottom: 1.5rem;

    svg {
      &:first-of-type {
        @include wh-hei($wh: 1.9rem, $hei: 1.9rem);
      }
    }
  }

  &__form {
    width: 100%;
    position: relative;

    input {
      width: 100%;
      padding: 1rem 2rem;
      text-transform: capitalize;
      font-size: $sm-size-2;
      border: 2px solid $valhalla-color;
    }

    svg {
      position: absolute;
      right: 1.5rem;
      top: 1rem;
      width: 2.5rem;
    }
  }

  &__list {
    margin-top: 4rem;

    li {
      @include text-transform($weight: $semi-bold);
      font-size: $sm-size-1;
      color: $valhalla-color;
      padding-bottom: 1rem;
      border-bottom: 1px solid $light-grey-color;

      &:not(:last-of-type) {
        margin-bottom: 1.5rem;
      }

      a {
        display: block;
      }
    }
  }
}

// FiltersModel style
.filtersModel {
  width: 100%;

  h3 {
    text-transform: uppercase;
    font-size: $sm-size-3;
  }
}

// Hero Slider
.hero {
  &__slide {
    height: calc(100vh - 5.9rem);

    @media (max-width: 700px) {
      height: calc(110rem - 10rem);
    }

    @media (max-width: 600px) {
      height: calc(100rem - 10rem);
    }

    @media (max-width: 500px) {
      height: calc(90rem - 10rem);
    }

    @media (max-width: 425px) {
      height: calc(80rem - 10rem);
    }

    @media (max-width: 375px) {
      height: calc(70rem - 5.2rem);
    }
  }
}

.arrow {
  @include wh-hei($wh: 3.5rem, $hei: 3.5rem);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: $white-color;
  cursor: pointer;

  &:hover {
    fill: $valhalla-color;
  }

  &__left {
    left: 5px;
  }

  &__right {
    left: auto;
    right: 5px;
  }

  &__disabled {
    fill: rgba(255, 255, 255, 0.5);
  }
}

.active-color {
  border: 2px solid $valencia-color;
}

.active-size {
  @include bg-txt-br-color($bg-color: $black-color, $color: $white-color);
}

.not-available {
  text-decoration: line-through;
  cursor: none;
  opacity: 0.8;
}

// Drop Down Menu styles
.dropDownMenu {
  background-color: $white-color;
  @include position($tp: 5.9rem, $z: -1);
  height: 58vh;
  opacity: 0;
  visibility: hidden;
  display: none;
  @include transition();

  .container {
    height: 100%;
  }

  &__show {
    opacity: 1;
    z-index: 1;
    display: block;
    visibility: visible;
  }
}

// Form Input Compo
.formIpt,
.textarea {
  padding: 1.5rem;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: $light-grey-color;
  font-size: $sm-size-2;
  width: 100%;
  margin-bottom: 7px;

  &::placeholder {
    @include transition();
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }

  &__error {
    border: 2px solid $error-color;
  }

  &__errorMsg {
    color: $error-color;
    margin-left: 1rem;
  }
}

// Alert compo
.alert {
  font-size: $sm-size-1;
  margin-bottom: 2rem;
  padding: 1.5rem;
  text-align: center;
  text-transform: capitalize;
  border: 2px solid transparent;

  &__error {
    color: $error-color;
    border-color: $error-color;
  }

  &__success {
    color: $success-color;
    border-color: $success-color;
  }
}

// Product model compo
.productModal {
  @include position($ps: fixed, $z: -100);
  @include wh-hei();
  background-color: rgb($black-color, 0.8);
  opacity: 0;

  &__show {
    opacity: 1;
    z-index: 100;
  }
}
