@use './variables' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $primary-font-family;
  background-color: $white-color;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  background: transparent;
  border: 0;
}

input {
  outline: none;
}

.container {
  max-width: 125rem;
  margin: 0 auto;
}
