@use '../../styles/variables' as *;
@use '../../styles/mixin' as *;

.card {
  @include flex-ali-jus($justify: flex-end);
  flex-direction: column;
  text-align: center;
  padding-bottom: 2rem;

  &__title {
    color: $white-color;
    font-size: $md-size-1;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
}
