@use '../../styles/variables' as *;
@use '../../styles/mixin' as *;

.filtersModal {
  @include modalStyles();
  left: 0;
  z-index: 1000;

  h3 {
    text-transform: uppercase;
    font-size: $sm-size-3;
  }

  &__header {
    @include flex-ali-jus($justify: space-between);
    @include mrb-pdb-brb();

    .title {
      font-size: $md-size-4;
      font-weight: bold;
    }

    .closeBtn {
      svg {
        @include wh-hei($wh: 1.75rem, $hei: 1.75rem);
      }
    }
  }
}

@keyframes leftToRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
