@use '../../styles/variables' as *;

.aboutUs {
  margin: 7rem 0;
  display: grid;
  grid-template-rows: 42rem 60.7rem;
  row-gap: 7rem;

  .splitContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 8rem;

    &__image,
    &__image img,
    .text .img img {
      width: 100%;
      height: 100%;
    }

    .text {
      padding-left: 5rem;

      .title,
      .img {
        margin-bottom: 1.5rem;
      }

      p:not(:last-of-type),
      .content:not(:last-of-type) {
        margin-bottom: 3rem;
      }

      .title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: $md-size-2;
      }

      p {
        font-size: $sm-size-3;
        line-height: 2.2rem;
        font-weight: 400;
        width: 90%;
      }

      .img {
        width: 3.65rem;
      }
    }
  }
}
